<div class="jumbotron" style="padding: 10vh">
  <div class="row">
    <div class="col-md-4">
      <img class="rounded"
        src="https://m.economictimes.com/thumb/msid-79280279,width-1200,height-900,resizemode-4,imgsize-678018/bitcoin.jpg"
        style="width: 40vh;" alt="Card image cap">
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Token ID</td>
            <td>{{ token?._id }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ token?.name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ token?.email }}</td>
          </tr>
          <tr>
            <td>Mobile No.</td>
            <td>{{ token?.mobile }}</td>
          </tr>
          <tr>
            <td>DOB</td>
            <td>{{ token?.dateOfBirth }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ token?.gender }}</td>
          </tr>
          <tr>
            <td>College</td>
            <td>{{ token?.collegeInfo[0] }}</td>
          </tr>
          <tr>
            <td>Level</td>
            <td>{{ token?.degreeOfPlay }}</td>
          </tr>
          <tr>
            <td>Amount</td>
            <td>{{ token?.amount }}</td>
          </tr>
          <tr>
            <td>Rate</td>
            <td>{{ token?.rate }}</td>
          </tr>
          <tr>
            <td>Balance</td>
            <td>{{ balance }}</td>
          </tr>
          <tr>
            <td>Total Supply</td>
            <td>{{ totalSupply }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <form #buyTokenForm="ngForm" (ngSubmit)="buyToken(buyTokenForm.value)">
    <input name="amount" min="0" type="number" placeholder="Amount in Wei" ngModel>
    &nbsp;
    <input type="submit" class="btn btn-info" value="Buy Tokens">
  </form>
  <form #transferTokenForm="ngForm" (ngSubmit)="transferToken(transferTokenForm.value)">
    <input name="to" min="0" type="string" placeholder="To Address" ngModel>
    <input name="amount" min="0" type="number" placeholder="Number Of Tokens" ngModel>
    &nbsp;
    <input type="submit" class="btn btn-info" value="Transfer">
  </form>
  <div *ngFor="let poll of polls[0];let indexOfPoll=index;">
    Question {{ poll.question }}
    <br />
    Vote For Option
    <button *ngFor="let option of poll.options;let indexOfOption=index;" (click)="vote(indexOfPoll, indexOfOption)">
      {{option}}
    </button>
    <br />
    Result {{poll.options[polls[1][indexOfPoll]]}}
    <br />
    Number Of Votes To Result {{polls[2][indexOfPoll]}}
  </div>
  <div class="text-center">
    <button class="btn btn-primary">Go Back</button>
    &nbsp;
    <button class="btn btn-primary">Buy Token</button>
    &nbsp;
    <button class="btn btn-primary">Get Polls</button>
    <!-- &nbsp;
    <button class="btn btn-primary">Vote</button> -->
  </div>
</div>