<div class="row">
  <div class="col-sm-3" *ngFor="let token of tokens">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.economictimes.com/thumb/msid-79280279,width-1200,height-900,resizemode-4,imgsize-678018/bitcoin.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Name: {{ token.name }}</h5>
        <p class="card-text">DOB: {{ token.dateOfBirth | date}}</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="showDetails(token)">
          See More Details
        </button>

      </div>
    </div>
  </div>
</div>
