      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-3">
        
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let token of tokens; let i = index">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ token.name }}</td>
                  <td>{{ token.email }}</td>
                  <td><button class="btn btn-info" (click)="editToken(token)">Edit</button></td>
                  <td>
                    <div *ngIf="token.approved === true; else elseBlock" class="text-success" >Approved</div>
                    <ng-template #elseBlock><p class="text-danger">Not Approved yet</p></ng-template>
                  </td>
                </tr>
              </tbody>    
        </table>

      </main>
  