<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 shadow">
    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Admin Panel</a>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="bg-dark col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item sidebar-item">
              <a class="nav-link" aria-current="page" href="/view-token-requests">
                <span data-feather="home"></span>
                View Token Requests
              </a>
            </li>
            <li class="nav-item sidebar-item">
              <a class="nav-link active" href="#">
                <span data-feather="shopping-cart"></span>
                View All Approved Tokens
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row">
          <div class="col" *ngFor="let token of tokens">
            <div class="card" style="width: 18rem;margin:10px">
              <img class="card-img-top"
                src="https://m.economictimes.com/thumb/msid-79280279,width-1200,height-900,resizemode-4,imgsize-678018/bitcoin.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Name: {{ token.name }}</h5>
                <p class="card-text">Rate: {{ token.rate }}</p>
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary" (click)="showDetails(token)">
                  See More Details
                </button> -->
                <a href="/token-details/{{token._id}}" class="btn btn-info">View Token details</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  