   
      <div [ngSwitch]="showToken">
        <div class="jumbotron" *ngSwitchCase="true">
          <div class="row">
            <div class="col-md-4">
              Token ID: {{token._id}}
            </div>
            <div class="col-md-4">
              Token Name: {{token.name}}
            </div>
            <div class="col-md-4">
              Token Index: {{token.tokenIndex}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              Token Supply: {{token.amount}}
            </div>
            <div class="col-md-4">
              Rate: {{token.rate}}
            </div>
            <div class="col-md-4">
<!--              Balance: {{balance}}-->
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              Ethereum Address: {{token.ethereumAddress}}
            </div>
          </div>
          <br>
          <div class="text-center" *ngIf="token.approved == true">
            <button class="btn btn-info" (click)="editToken()">Edit</button>
            <hr>
            <div class="text-center">
              <form #disburseForm="ngForm" (ngSubmit)="disburse(disburseForm.value)">
                <input name="amountToSend" min="0" type="number" placeholder="Amount to Disburse" ngModel>
                &nbsp;
                <input type="submit" class="btn btn-info" value="Disburse">
              </form>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="false">
          You have not created a token
        </div>

        <div *ngSwitchDefault>
          Loading...
        </div>
      </div>
    



