   
      <div [ngSwitch]="showToken">
        <div class="jumbotron" *ngSwitchCase="true">
          <div class="row">
            <div class="col-md-4">
              Token ID: {{token._id}}
            </div>
            <div class="col-md-4">
              Token Name: {{token.name}}
            </div>
            <div class="col-md-4">
              Email: {{token.email}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              Mobile Number: {{token.mobile}}
            </div>
            <div class="col-md-4">
              DOB: {{token.dateOfBirth | date}}
            </div>
            <div class="col-md-4">
              Gender: {{token.gender}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              College: {{token.collegeInfo[0]}}
            </div>
            <div class="col-md-4">
              Level you play at: {{token.degreeOfPlay}}
            </div>
            <div class="col-md-4">
              Country: {{token.country}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              Ethereum Address: {{token.ethereumAddress}}
            </div>
          </div>
          <br>
          <div class="text-center" *ngIf="token.approved == true">
            <button class="btn btn-info" (click)="editToken()">Edit</button>
            <hr>
            <div class="text-center">
              <form #disburseForm="ngForm" (ngSubmit)="disburse(disburseForm.value, token.tokenIndex)">
                <input name="amount" min="0" type="number" placeholder="Amount to Disburse" ngModel>
                &nbsp;
                <input type="submit" class="btn btn-info" value="Disburse">
              </form>
              <hr>
              <form [formGroup]="pollForm" (ngSubmit)="createNewPoll(token.tokenIndex)">
                <input formControlName="question" type="text" placeholder="Question">
                <input formControlName="option" placeholder="enter option to add">
                <ul *ngFor="let option of pollOptions; let i = index">
                  <li>{{option}}</li>
                </ul>
                <button (click)="addOption()" class="btn btn-info">Add Option</button>
                <button (click)="removeOption()" class="btn btn-info">Remove</button>
                <input type="submit" class="btn btn-info" value="Create Poll">
              </form>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="false">
          You have not created a token
        </div>

        <div *ngSwitchDefault>
          Loading...
        </div>
      </div>
    



