<header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>
     
    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://cdn.videvo.net/videvo_files/video/free/2015-10/large_watermarked/Running_09_Videvo_preview.mp4" type="video/mp4">
    </video>
    <!-- <img src="https://images.unsplash.com/photo-1517649763962-0c623066013b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"> -->
    
    <!-- The header content -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h4 class="display-6">Platform Name</h4>
          <br>
          <h5 class="display-7">Decentralized Investment and Crowdfunding to support Athletes and Clubs</h5>
          <br>
          <a href="/tokens" class="btn btn-outline-light p-2">Explore Marketplace</a>&nbsp;
          <a href="/login" class="btn btn-outline-light p-2">Login</a> &nbsp;
          <a href="/register" class="btn btn-outline-light p-2">Regsiter as an Athlete/Club</a>&nbsp;

        </div>
      </div>
    </div>
  </header>
  
  <!-- Page section example for content below the video header -->
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          	<p>Innovation and technology are redefining all industries, and sport is no exception. Today all organizations are immersed in the digital transformation and for sports the key consumers are the fans. In pre-covid era the fan engagement was restricted to watching matches in stadium and buying merchandise. In post-covid an digital alternative is required where we can get the fans closer to their favorite teams and athlete. We propose a token-based fan loyalty program, where fans can buy tokens and get a right into few decisions, attend exclusive events and buy merchandise. 
</p>	<p>In addition, as we see post Olympics, India has seen a great inclination towards sports in general. With this, there are many young athletes who fail to reach international level in-spite of their talent, due to lack of funds or hi-tech equipment required for their preparation. We propose to connect such athletes (pro or amateur) to investors, who can help them into funding their needs and in return get a share of their earning when the athlete succeeds and gets good amount of endorsement deals and sponsorship.
</p>
        </div>
      </div>
    </div>
  </section>

  <footer id="sticky-footer" style="width: 100%;" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>